<div class="comments"">
  {{#each comment}}
  <section class="comment mb-3 pb-3 border-bottom">
    <div class="meta d-flex align-items-center mb-2 justify-content-between">
      <div>
        <i class="bi bi-person-circle me-2"></i> 
        <span>{{user.username}}&nbsp;on&nbsp;{{format_date created_at}}</span>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-danger delete-comment-btn mx-2" data-comment-id="{{id}}" data-user-id="{{user_id}}">
          <i class="bi bi-trash me-2"></i>
          Delete
        </button>
        <button class="btn btn-primary update-comment-btn mx-2" data-comment-id="{{id}}" data-user-id="{{user_id}}" data-action="update">
          <i class="bi bi-pencil me-2"></i>
          Update
        </button>
      </div>
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

<!-- Update Comment Form Modal -->
<div class="modal fade" id="updateFormModal" tabindex="-1" aria-labelledby="updateFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateFormModalLabel">Update Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="update-comment-form">
          <div class="mb-3">
            <label for="update-comment-text" class="form-label">Comment Text</label>
            <textarea class="form-control" id="update-comment-text" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="../../js/deleteComment.js"></script>
<script src="../../js/updateComment.js"></script>