<article class="post">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{post_content}}</p>
        <div class="card-footer text-muted">
            <div class="meta">
                <span><i class="bi bi-person-circle"></i> {{user.username}} posted on {{ format_date created_at}}</span>
                <a href="/post/{{id}}"><i class="bi bi-chat-square-fill"></i> {{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </div>
    </div>
</article> 