<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-4">Welcome to the Tech Blog</h1>
    </div>
  </div>
  
  <div class="row">
    {{#each posts as |post|}}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>
            <a href="/post/{{post.id}}" class="btn btn-primary">Read More</a>
          </div>
            <div class="card-footer">
            <small class="text-muted">Posted by {{post.user.username}} on {{helper.formatDate post.created_at}}</small>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>